<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chat3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E52D27881E484E1A003FF5B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E52D279C1E484E1A003FF5B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E52D27A71E484E1A003FF5B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
